# ============================================
# Python
# ============================================
__pycache__/
*.py[cod]
*$py.class

# Bytecode / cache
*.pyo
*.pyd
*.pdb

# ============================================
# Virtual Environments
# ============================================
.venv/
venv/
env/
ENV/

# ============================================
# Environment & Config
# ============================================
.env
*.env

# ============================================
# Distribution / Packaging
# ============================================
build/
dist/
*.egg-info/
.eggs/
*.egg
*.spec
# ============================================
# Logs & Databases
# ============================================
*.log
*.sqlite
*.sqlite3
*.db

# ============================================
# IDE / Editor Specific
# ============================================
.vscode/
.idea/
*.swp

